/* GERAL 
----------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BBB;
}

img {
    display: block;
}

/* HEADER
------------- */
header figure {
    background-color: #FFF;
}

header figure img {
    margin: 0 auto;
    display: block;
}

#header-title {
    text-align: center;
    background-color: #E3E3E3;
    padding: 10px 0;
}

#header-title h1 {
    font-size: 2.2em;
    line-height: 1.3em;
}

#header-title h3 {
    font-weight: 500;
}


/* NAVEGAÇÃO */
nav {
    background-color: #5e5e5e;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #545454;
}

nav ul li a {
    color: #FAFAFA;
    font-weight: bolder;
    text-decoration: none;
}

/* CONTAINERS CENTRAIS
------------------------ */
.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #EEE;
    box-sizing: border-box;
    margin-bottom: 50px;
}

/* MAIN
---------- */
main article {
    background-color: #EEE;

    box-sizing: border-box;
    padding-bottom: 30px;
}

main article h2 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    background-color: #68A357;
    padding: 10px;
}

main article p {
    box-sizing: border-box;
    padding: 30px 40px;
}

/* IMAGEM DO MAIN */
main #maionese-figure img{
    margin: 0 auto;
    border: 5px groove #68A357;
}

main #maionese-figure figcaption {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

/* LISTAS ORDENADAS */
main ol {
    margin: 0 10%;
    list-style: decimal;
}

/* SEÇÃO DO BOTÃO MAIONESE 
------------------------------*/
#button-maionese {
    padding: 30px;
    text-align: center;
    line-height: 2em;
    border: 5px solid #68A357;
}

#button-maionese h2 {
    font-size: 1.5em;
}

#button-maionese h5 {
    font-weight: bolder;
    font-size: 0.7em;
}
#button-maionese button {
    font-size: 1.3em;
    background-color: #68A357;
    margin: 10px;
}

/* ASIDE - SEÇÃO DO FORMULÁRIO
--------------------------------- */
aside {
    padding: 30px;
    text-align: center;
    line-height: 2em;
    border: 5px solid #68A357;
    font-size: 1.1em;
}

aside h3 {
    font-weight: bold;
    font-size: 1.3em;
}

aside #submit-button {
    font-size: 1.1em;
    margin-top: 20px;
}

/* FOOTER
----------- */
footer {
    background-color: #545454;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
}